.createpost{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;        
}
.createpost_loggedin{
    background-color: white;
    width: 100%;
    max-width: 650px;
    border-radius: 8px;
    padding: 12px 24px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.createpost_loggedinCenter{
    padding-top: 12px;
    
}
.createpost_textArea{
    border: none;
    width: 95%;
    font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  resize: none;
  font-size: 14px;
  
  
}
.createpost_textArea:focus{
    outline: none;
}
#imgInput{
    display: none;
}
.createpost_loggedinBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
 }
/* .createpost_uploadBtn{
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color:#a80e35 ;
    color: white;
    cursor: pointer;
} */ 
.createpost_uploadBtn{
    
    background-color: white;  
    color: #a80e35;
   cursor: pointer;   
   max-width: fit-content;
   padding: 8px 16px;
   border-radius: 5px;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   margin: 10px;
   box-shadow: 1px 1px rgba(3, 79 , 160, 0.2);
}
.createpost_uploadBtn:hover{
   background-color: #a80e35;   
   color: white !important;
   transition: all 0.2s;
}
.createpost_imagePreview > img{
    height: 80px;
    border-radius: 8px;
    object-fit: contain;
}